# Data Project 1: Analysis of Danish export from 1997-2018 by category

## Import packages

In [104]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import ipywidgets as widgets

## Reading the dataset of danish exports

The dataset contains nominal, as well as seasonally adjusted, values of danish export in the period from 1997 to 2018 by export category. The dataset, originally named "UHV1" is downloaded from Statistics Denmark (Danmarks Statistik). The values are reported in millions DKK.

In [105]:
filepath = './dataproject/DK_export.xlsx' 
pd.read_excel(filepath).head(25) #Printing the first 25 lines of the dataset

,"Total external trade by imports and exports, seasonal adjustment, kind and time",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Units: m DKK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,...,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
2,Exports,Non-seasonally adjusted,TOTAL,324271.3,326503.7,351916.4,408238.8,424669.5,442753.6,429272.0,...,491613.1,540894.8,604418.2,614546.9,620270.4,620622.8,636133.8,637315.4,668265.9,680755.7
3,NaN,NaN,"Live animals, Food, Beverages And Tobacco",75623.1,71598.3,72690.7,78689.5,87516.2,85802.4,82457.2,...,93219.1,99679.0,106588.5,111441.4,114740.5,114051.8,115956.7,119198.3,126337.8,122550.5
4,NaN,NaN,"Crude Materials, Inedible, Except Fuels",13712.9,13027.8,13038.5,15382.5,14999.2,15870.6,15995.6,...,17682.9,24049.8,27586.6,28800.1,30515.4,26709.1,28489.4,23659.2,26779.0,25983.8
5,NaN,NaN,Chemicals And Related Products,35380.5,36662.9,42452.6,49045.9,54302.7,58243.5,60182.6,...,74634.6,86624.8,94920.3,104856.9,110851.2,114970.2,127731.7,132831.6,137568.2,146557.3
6,NaN,NaN,Manufactured Goods Classified Chiefly By Material,36244.5,37376.8,39091.2,43400.0,44054.7,44395.1,43380.3,...,50293.4,49873.2,57386.8,55209.6,55239.5,55627.4,54682.4,57189.6,61211.2,62151.7
7,NaN,NaN,Machinery (excl. Transport Equipment),75210.8,79377.5,83503.6,96237.6,103033.1,110380.3,101123.7,...,106689.2,117415.6,125955.4,129458.9,130886.5,142549.2,145902.2,149825.2,151363.5,148477.0
8,NaN,NaN,Transport Equipment,7987.4,9015.5,9245.2,10701.0,12563.2,14574.8,14886.3,...,13684.1,14046.4,16917.5,16469.7,17240.8,16174.4,18534.9,18668.9,20979.6,21416.9
9,NaN,NaN,Miscellaneous Manufactured Articles,59184.8,63021.1,66962.5,76562.5,76141.1,77983.6,77488.4,...,85402.6,93349.1,103247.9,100798.0,97659.5,97504.9,104859.8,106095.1,108277.7,110978.9
10,NaN,NaN,"Mineral Fuels, Lubricants And Related Materials",14701.2,10908.2,17651.6,33812.2,29128.8,30758.3,31527.9,...,44331.9,50842.9,61068.7,64975.4,58844.8,48266.1,35531.0,26422.2,30930.1,34292.6
11,NaN,NaN,"Vessels, aircraft etc.",6226.0,5515.2,7280.5,4407.9,2930.4,4744.8,2230.6,...,5675.1,5014.6,10746.6,2536.6,4292.1,4769.3,4446.0,3425.5,4818.8,8346.3
12,NaN,Seasonally adjusted,TOTAL,324292.9,326825.8,350975.0,408336.7,424708.7,442438.6,429360.5,...,492639.8,539621.5,606156.6,614330.4,618852.9,621427.8,637283.6,636030.5,669180.5,681132.5
13,NaN,NaN,"Live animals, Food, Beverages And Tobacco",75647.5,71678.5,72492.6,78698.6,87343.3,85797.0,82568.2,...,93240.7,99305.0,106777.4,111304.7,114640.4,114212.4,116021.5,118809.6,126661.8,122537.8
14,NaN,NaN,"Crude Materials, Inedible, Except Fuels",13701.3,13103.9,12946.8,15367.1,15047.6,15878.7,15923.7,...,17865.0,24056.3,27777.3,28681.2,29954.1,27013.8,28510.4,23601.6,26703.5,26353.6
15,NaN,NaN,Chemicals And Related Products,35411.7,36729.5,42300.8,49113.6,54288.8,58136.8,60157.6,...,74843.6,86458.9,95473.3,104845.9,110548.1,115058.8,128222.8,132707.8,137860.7,146700.6
16,NaN,NaN,Manufactured Goods Classified Chiefly By Material,36260.6,37385.5,39061.1,43515.5,44011.9,44330.3,43408.4,...,50555.4,49657.7,57467.9,55189.4,55010.6,55642.4,54809.3,57309.3,60963.3,61999.5
17,NaN,NaN,Machinery (excl. Transport Equipment),75134.3,79332.9,83131.2,96057.0,103116.8,110288.2,101189.1,...,106872.0,116972.3,126301.8,129619.7,130728.0,142793.8,146288.1,149366.7,151742.2,148440.4
18,NaN,NaN,Transport Equipment,7988.1,9042.6,9221.5,10679.5,12571.6,14548.3,14862.6,...,13718.6,14024.0,16954.6,16461.4,17201.4,16174.9,18558.9,18625.1,21005.5,21407.7
19,NaN,NaN,Miscellaneous Manufactured Articles,59222.0,63129.8,66889.1,76685.5,76269.2,77956.0,77492.2,...,85537.7,93289.8,103588.5,100716.0,97633.9,97496.3,104895.7,105762.7,108494.1,111053.7
20,NaN,NaN,"Mineral Fuels, Lubricants And Related Materials",14701.2,10908.2,17651.6,33812.2,29128.8,30758.3,31527.9,...,44331.9,50842.9,61068.7,64975.4,58844.8,48266.1,35531.0,26422.2,30930.1,34292.6
21,NaN,NaN,"Vessels, aircraft etc.",6226.0,5515.2,7280.5,4407.9,2930.4,4744.8,2230.6,...,5675.1,5014.6,10746.6,2536.6,4292.1,4769.3,4446.0,3425.5,4818.8,8346.3

## Cleaning the data

As the two top rows are empty these are removed on import. Next the two most left columns are removed as well. Finally all rows from 10 to infinity are removed as we only want to investigate the evolution of nominal values. The bottom line of code prints out the first five columns to give us a view of the dataset.

In [106]:
exp = pd.read_excel(filepath, skiprows = 2) 
Dropped = ['Unnamed: 0', 'Unnamed: 1']
exp.drop(Dropped, axis = 1, inplace = True) 
exp.drop(exp.index[10:], inplace=True)
exp.head(5)

,Unnamed: 2,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,TOTAL,324271.3,326503.7,351916.4,408238.8,424669.5,442753.6,429272.0,452399.7,493678.6,...,491613.1,540894.8,604418.2,614546.9,620270.4,620622.8,636133.8,637315.4,668265.9,680755.7
1,"Live animals, Food, Beverages And Tobacco",75623.1,71598.3,72690.7,78689.5,87516.2,85802.4,82457.2,83776.6,87654.0,...,93219.1,99679.0,106588.5,111441.4,114740.5,114051.8,115956.7,119198.3,126337.8,122550.5
2,"Crude Materials, Inedible, Except Fuels",13712.9,13027.8,13038.5,15382.5,14999.2,15870.6,15995.6,16986.0,17188.1,...,17682.9,24049.8,27586.6,28800.1,30515.4,26709.1,28489.4,23659.2,26779.0,25983.8
3,Chemicals And Related Products,35380.5,36662.9,42452.6,49045.9,54302.7,58243.5,60182.6,61406.0,68837.6,...,74634.6,86624.8,94920.3,104856.9,110851.2,114970.2,127731.7,132831.6,137568.2,146557.3
4,Manufactured Goods Classified Chiefly By Material,36244.5,37376.8,39091.2,43400.0,44054.7,44395.1,43380.3,45180.4,47778.4,...,50293.4,49873.2,57386.8,55209.6,55239.5,55627.4,54682.4,57189.6,61211.2,62151.7

### Renaming the first column from "Unnamed: 2" to "year"

In [107]:
exp.rename(columns = {'Unnamed: 2':'year'}, inplace=True)

### Transposing the data

As we want to compare categories within years the dataset is transposed. Thus we obtain a dataset with years on the vertical axis and categories on the horizontal axis.

In [108]:
exp_t=exp.T
exp = exp_t
exp.head(5)

,0,1,2,3,4,5,6,7,8,9
year,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
1997,324271,75623.1,13712.9,35380.5,36244.5,75210.8,7987.4,59184.8,14701.2,6226
1998,326504,71598.3,13027.8,36662.9,37376.8,79377.5,9015.5,63021.1,10908.2,5515.2
1999,351916,72690.7,13038.5,42452.6,39091.2,83503.6,9245.2,66962.5,17651.6,7280.5
2000,408239,78689.5,15382.5,49045.9,43400,96237.6,10701,76562.5,33812.2,4407.9

### Removing the top horizontal index.

As transposing a pandas dataframe also transposes the index we next remove the top index, thus defining the variables (categories). 

NOTE: Running this section of the code twice will result in replacing the category names with the dataset of 1997. If already done go back to importing the dataset once again.

In [109]:
exp.columns = exp.iloc[0]
exp.drop(exp.index[0], inplace=True)
exp.head(5)

year,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
1997,324271,75623.1,13712.9,35380.5,36244.5,75210.8,7987.4,59184.8,14701.2,6226
1998,326504,71598.3,13027.8,36662.9,37376.8,79377.5,9015.5,63021.1,10908.2,5515.2
1999,351916,72690.7,13038.5,42452.6,39091.2,83503.6,9245.2,66962.5,17651.6,7280.5
2000,408239,78689.5,15382.5,49045.9,43400,96237.6,10701,76562.5,33812.2,4407.9
2001,424670,87516.2,14999.2,54302.7,44054.7,103033,12563.2,76141.1,29128.8,2930.4

## Reading the dataset of danish consumer price index

The dataset the danish consumer price index, in the period from 1997 to 2019. The dataset, originally named "PRIS112" is downloaded from Statistics Denmark (Danmarks Statistik). The CPI is indexed with base 2015, such that 2015 = 100.

In [110]:
filepath1 = './dataproject/Inflation.xlsx' 
pd.read_excel(filepath1).head(25) #Printing the first 25 lines of the dataset

,Forbrugerprisindeks (2015=100) efter hovedtal og tid,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Enhed: pct.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,...,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
2,Årsgennemsnit,71.0,72.3,74.1,76.2,78.0,79.9,81.6,82.5,84.0,...,91.2,93.3,95.9,98.2,99.0,99.6,100.0,100.3,101.4,102.2

Ligesom tidligere droppes tomme rækker og søjler

In [111]:
infl = pd.read_excel(filepath1, skiprows = 2) 
Dropped = ['Unnamed: 0']
infl.drop(Dropped, axis = 1, inplace = True) 
infl.head()

,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,71,72.3,74.1,76.2,78,79.9,81.6,82.5,84,85.6,...,91.2,93.3,95.9,98.2,99,99.6,100,100.3,101.4,102.2

In [112]:
infl_t=infl.T
infl = infl_t
infl.head()

         0
1997  71.0
1998  72.3
1999  74.1
2000  76.2
2001  78.0

In [113]:
infl.rename(columns={0:'inflation'}, inplace=True)
infl.index.names = ['year']

infl.head()

      inflation
year
1997       71.0
1998       72.3
1999       74.1
2000       76.2
2001       78.0

## Re-indexing so that 1997 = 1

In [114]:
infl['inflation'] = infl['inflation'] /infl['inflation'][0]

In [122]:
merged = pd.concat([exp, infl], axis=1, sort=False)
merged

,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc.",inflation
year,,,,,,,,,,,
1997,324271,75623.1,13712.9,35380.5,36244.5,75210.8,7987.4,59184.8,14701.2,6226,1.000000
1998,326504,71598.3,13027.8,36662.9,37376.8,79377.5,9015.5,63021.1,10908.2,5515.2,1.018310
1999,351916,72690.7,13038.5,42452.6,39091.2,83503.6,9245.2,66962.5,17651.6,7280.5,1.043662
2000,408239,78689.5,15382.5,49045.9,43400,96237.6,10701,76562.5,33812.2,4407.9,1.073239
2001,424670,87516.2,14999.2,54302.7,44054.7,103033,12563.2,76141.1,29128.8,2930.4,1.098592
2002,442754,85802.4,15870.6,58243.5,44395.1,110380,14574.8,77983.6,30758.3,4744.8,1.125352
2003,429272,82457.2,15995.6,60182.6,43380.3,101124,14886.3,77488.4,31527.9,2230.6,1.149296
2004,452400,83776.6,16986,61406,45180.4,104721,14989.4,80979.6,39345.6,5015.3,1.161972
2005,493679,87654,17188.1,68837.6,47778.4,108073,15881.4,85997.3,56785.4,5483.1,1.183099
2006,539768,95001.5,20422.9,70026,55554,117252,16649.3,95380.9,63757.5,5723.9,1.205634
2007,553489,95632.5,20176.3,73327.7,60204.8,129606,16571.8,99772.8,53872,4325.6,1.226761
2008,588897,100497,21872.4,76894.9,65366,132859,17993.3,98163.4,68560.2,6691.4,1.269014
2009,491613,93219.1,17682.9,74634.6,50293.4,106689,13684.1,85402.6,44331.9,5675.1,1.284507
2010,540895,99679,24049.8,86624.8,49873.2,117416,14046.4,93349.1,50842.9,5014.6,1.314085
2011,604418,106588,27586.6,94920.3,57386.8,125955,16917.5,103248,61068.7,10746.6,1.350704
2012,614547,111441,28800.1,104857,55209.6,129459,16469.7,100798,64975.4,2536.6,1.383099
2013,620270,114740,30515.4,110851,55239.5,130886,17240.8,97659.5,58844.8,4292.1,1.394366
2014,620623,114052,26709.1,114970,55627.4,142549,16174.4,97504.9,48266.1,4769.3,1.402817
2015,636134,115957,28489.4,127732,54682.4,145902,18534.9,104860,35531,4446,1.408451
2016,637315,119198,23659.2,132832,57189.6,149825,18668.9,106095,26422.2,3425.5,1.412676
2017,668266,126338,26779,137568,61211.2,151364,20979.6,108278,30930.1,4818.8,1.428169
2018,680756,122550,25983.8,146557,62151.7,148477,21416.9,110979,34292.6,8346.3,1.439437

In [144]:
exp_real = merged.copy()
exp_real.drop('inflation', axis=1)
exp_real=exp_real.div(merged['inflation'], axis=0)
exp_real

,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc.",inflation
year,,,,,,,,,,,
1997,324271,75623.1,13712.9,35380.5,36244.5,75210.8,7987.4,59184.8,14701.2,6226,1
1998,320633,70310.9,12793.6,36003.7,36704.7,77950.2,8853.4,61887.9,10712.1,5416.03,1
1999,337194,69649.7,12493,40676.6,37455.8,80010.2,8858.42,64161.1,16913.1,6975.92,1
2000,380380,73319.6,14332.8,45698.9,40438.3,89670.2,9970.75,71337.8,31504.8,4107.1,1
2001,386558,79662.2,13653.1,49429.4,40101.1,93786.5,11435.7,69307.9,26514.7,2667.42,1
2002,393436,76244.9,14102.8,51755.8,39450,98085.1,12951.3,69297.1,27332.2,4216.28,1
2003,373509,71745.8,13917.7,52364.8,37745.1,87987.5,12952.5,67422.5,27432.4,1940.84,1
2004,389338,72098.6,14618.3,52846.4,38882.5,90123.6,12900,69691.5,33861.1,4316.2,1
2005,417276,74088.5,14528,58184.2,40384.1,91347.8,13423.6,72688.2,47997.2,4634.53,1
2006,447705,78798,16939.6,58082.3,46078.7,97253.2,13809.6,79112.7,52883,4747.63,1
2007,451179,77955.3,16446.8,59773.4,49076.2,105649,13508.6,81330.3,43914,3526.03,1
2008,464059,79192.7,17235.7,60594.2,51509.3,104695,14179,77354.1,54026.4,5272.91,1
2009,382725,72571.9,13766.3,58103.7,39153.9,83058.5,10653.2,66486.7,34512.8,4418.12,1
2010,411613,75854.3,18301.6,65920.3,37952.8,89351.6,10689.1,71037.4,38690.7,3816.04,1
2011,447484,78913.3,20423.9,70274.7,42486.6,93251.7,12524.9,76440.1,45212.5,7956.29,1
2012,444326,80573.7,20822.9,75813,39917.3,93600.6,11907.8,72878.4,46978.1,1834,1
2013,444840,82288.6,21884.8,79499.3,39616.2,93868.1,12364.6,70038.6,42201.8,3078.17,1
2014,442412,81302,19039.6,81956.7,39654.1,101616,11529.9,69506.5,34406.6,3399.8,1
2015,451655,82329.3,20227.5,90689.5,38824.5,103591,13159.8,74450.5,25227,3156.66,1
2016,451141,84377.7,16747.8,94028.4,40483.2,106058,13215.3,75102.2,18703.7,2424.83,1
2017,467918,88461.4,18750.6,96324.9,42859.9,105984,14689.9,75815.7,21657.2,3374.11,1
2018,472932,85137.8,18051.4,101816,43177.8,103149,14878.7,77098.8,23823.6,5798.31,1

Fjerner yderste søjle, inflation

In [142]:
Dropped = ['inflation']
exp_real.drop(Dropped, axis = 1, inplace = True) 
exp_real

,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
year,,,,,,,,,,
1997,324271,75623.1,13712.9,35380.5,36244.5,75210.8,7987.4,59184.8,14701.2,6226
1998,320633,70310.9,12793.6,36003.7,36704.7,77950.2,8853.4,61887.9,10712.1,5416.03
1999,337194,69649.7,12493,40676.6,37455.8,80010.2,8858.42,64161.1,16913.1,6975.92
2000,380380,73319.6,14332.8,45698.9,40438.3,89670.2,9970.75,71337.8,31504.8,4107.1
2001,386558,79662.2,13653.1,49429.4,40101.1,93786.5,11435.7,69307.9,26514.7,2667.42
2002,393436,76244.9,14102.8,51755.8,39450,98085.1,12951.3,69297.1,27332.2,4216.28
2003,373509,71745.8,13917.7,52364.8,37745.1,87987.5,12952.5,67422.5,27432.4,1940.84
2004,389338,72098.6,14618.3,52846.4,38882.5,90123.6,12900,69691.5,33861.1,4316.2
2005,417276,74088.5,14528,58184.2,40384.1,91347.8,13423.6,72688.2,47997.2,4634.53
2006,447705,78798,16939.6,58082.3,46078.7,97253.2,13809.6,79112.7,52883,4747.63
2007,451179,77955.3,16446.8,59773.4,49076.2,105649,13508.6,81330.3,43914,3526.03
2008,464059,79192.7,17235.7,60594.2,51509.3,104695,14179,77354.1,54026.4,5272.91
2009,382725,72571.9,13766.3,58103.7,39153.9,83058.5,10653.2,66486.7,34512.8,4418.12
2010,411613,75854.3,18301.6,65920.3,37952.8,89351.6,10689.1,71037.4,38690.7,3816.04
2011,447484,78913.3,20423.9,70274.7,42486.6,93251.7,12524.9,76440.1,45212.5,7956.29
2012,444326,80573.7,20822.9,75813,39917.3,93600.6,11907.8,72878.4,46978.1,1834
2013,444840,82288.6,21884.8,79499.3,39616.2,93868.1,12364.6,70038.6,42201.8,3078.17
2014,442412,81302,19039.6,81956.7,39654.1,101616,11529.9,69506.5,34406.6,3399.8
2015,451655,82329.3,20227.5,90689.5,38824.5,103591,13159.8,74450.5,25227,3156.66
2016,451141,84377.7,16747.8,94028.4,40483.2,106058,13215.3,75102.2,18703.7,2424.83
2017,467918,88461.4,18750.6,96324.9,42859.9,105984,14689.9,75815.7,21657.2,3374.11
2018,472932,85137.8,18051.4,101816,43177.8,103149,14878.7,77098.8,23823.6,5798.31

### Calculating yearly growth rate in %

To demonstrate the evolution of the export categories the next cell of code calculates the percentage change over the years by categories. This leaves us with an empty row for the year 1997, which is removed.

In [146]:
exp_perc = exp_real.pct_change()*100
exp_perc.drop(exp_perc.index[0], inplace=True)
exp_perc.head()

,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc.",inflation
year,,,,,,,,,,,
1998,-1.122006,-7.024551,-6.704258,1.761359,1.269824,3.642352,10.842021,4.567288,-27.134767,-13.009425,0.0
1999,5.165064,-0.940478,-2.349013,12.978959,2.046232,2.642654,0.056794,3.673025,57.888709,28.801236,0.0
2000,12.807509,5.269163,14.726179,12.347044,7.962756,12.073471,12.556684,11.185380,86.274149,-41.124615,0.0
2001,1.624205,8.650576,-4.741982,8.163090,-0.833979,4.590527,14.692832,-2.845391,-15.839262,-35.053532,0.0
2002,1.779158,-4.289671,3.293519,4.706553,-1.623671,4.583369,13.253114,-0.015666,3.083121,58.066133,0.0

## Descriptive statistics (TEKSTEN SKAL ÆNDRES HVOR DER BESKRIVES NEDENFOR)

The following line of code prints basics statistics of the cleaned dataset.

In [37]:
exp_perc.describe()

year,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,3.801187,2.436575,3.806516,7.118507,2.925504,3.556025,5.289297,3.211862,8.063447,14.329571
std,6.528971,4.864816,12.560064,5.132094,8.029181,7.265878,9.914771,6.042550,31.250765,53.484423
min,-16.519652,-7.241539,-19.154277,-2.939467,-23.058777,-19.697424,-23.948914,-12.999550,-35.338724,-76.396256
25%,0.931337,-0.600224,-2.491793,3.624595,0.054157,2.352170,0.722960,-0.550400,-15.504843,-22.953216
50%,4.024777,2.795526,4.398875,5.716648,3.124060,3.557425,4.681931,2.494697,6.397221,4.391676
75%,7.783281,5.989599,8.406398,10.718123,7.032048,7.273139,12.871523,6.481901,20.112543,54.692991
max,16.004483,11.217126,36.005972,16.065203,16.274300,15.249642,20.440113,14.336382,91.553174,124.840850

First we note that there are 21 observations of each variable, which corresponds to the number of years, thus we have no empty cells. We further note that each category, in nominal terms, has on average a positive growth rate of the years. Over the period the total export has a average annual growth rate of 3,8%, and the category which experiences the highest average growth is "Chemicals and related products", which on average grows by 7,1% annually.

 ### Printing the types of the variables.

In [38]:
exp_perc.dtypes

year
TOTAL                                                float64
Live animals, Food, Beverages And Tobacco            float64
Crude Materials, Inedible, Except Fuels              float64
Chemicals And Related Products                       float64
Manufactured Goods Classified Chiefly By Material    float64
Machinery (excl. Transport Equipment)                float64
Transport Equipment                                  float64
Miscellaneous Manufactured Articles                  float64
Mineral Fuels, Lubricants And Related Materials      float64
Vessels, aircraft etc.                               float64
dtype: object

We note, through thorough investigation, that pandas is not able to manipulate the "year" category, why a new variable "time" is added to the dataset. This is next used for plotting the dataset.

In [39]:
exp_perc['time'] = np.arange(1998,2019)

## Visualisation of the data

The following cell of code visualizes the percentage growth of the years by category in a interactive line chart. The horizontal axis represents the years, and the vertical axis represents the percentage growth rate. The plot allows the user to show growth rates for each category as wel as adjusting the time period for which the data is illustrated.

In [40]:
def _plot_timeseries(df, x, y):
    fig = plt.figure(dpi=100)
    ax = fig.add_subplot(1,1,1)
    I = (df.time >= y[0]) & (df.time <= y[1])
    series = df.loc[I,[x]]
    years = np.arange(y[0],y[1]+1)
    ax.plot(years,series)
    plt.xticks(np.arange(y[0],y[1]+1, 2.0))

    return fig, ax
    
def plot_timeseries(df):
    varlist = [col for col in exp_perc.columns[:-1]]

    widgets.interact(_plot_timeseries,
    df = widgets.fixed(df),
    x = widgets.Dropdown(
        description='Variable', 
        options=varlist, 
        value='TOTAL'),
    y=widgets.IntRangeSlider(
        description="Years",
        min=1998,
        max=2018,
        value=[1998, 2018],
        continuous_update=False,)

    ); 

    
plot_timeseries(exp_perc)

interactive(children=(Dropdown(description='Variable', options=('TOTAL', 'Live animals, Food, Beverages And To…