# Data Project 1: Analysis of Danish export from 2000-2018 by "Broad Economics Category"

## Import packages

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import ipywidgets as widgets

## Reading the dataset

In [2]:
filepath = './Data/DK_export.xlsx' 
pd.read_excel(filepath).head(25) #Printing the first 20 lines of the dataset

,"Total external trade by imports and exports, seasonal adjustment, kind and time",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Units: m DKK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,...,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
2,Exports,Non-seasonally adjusted,TOTAL,324271.3,326503.7,351916.4,408238.8,424669.5,442753.6,429272.0,...,491613.1,540894.8,604418.2,614546.9,620270.4,620622.8,636133.8,637315.4,668265.9,680755.7
3,NaN,NaN,"Live animals, Food, Beverages And Tobacco",75623.1,71598.3,72690.7,78689.5,87516.2,85802.4,82457.2,...,93219.1,99679.0,106588.5,111441.4,114740.5,114051.8,115956.7,119198.3,126337.8,122550.5
4,NaN,NaN,"Crude Materials, Inedible, Except Fuels",13712.9,13027.8,13038.5,15382.5,14999.2,15870.6,15995.6,...,17682.9,24049.8,27586.6,28800.1,30515.4,26709.1,28489.4,23659.2,26779.0,25983.8
5,NaN,NaN,Chemicals And Related Products,35380.5,36662.9,42452.6,49045.9,54302.7,58243.5,60182.6,...,74634.6,86624.8,94920.3,104856.9,110851.2,114970.2,127731.7,132831.6,137568.2,146557.3
6,NaN,NaN,Manufactured Goods Classified Chiefly By Material,36244.5,37376.8,39091.2,43400.0,44054.7,44395.1,43380.3,...,50293.4,49873.2,57386.8,55209.6,55239.5,55627.4,54682.4,57189.6,61211.2,62151.7
7,NaN,NaN,Machinery (excl. Transport Equipment),75210.8,79377.5,83503.6,96237.6,103033.1,110380.3,101123.7,...,106689.2,117415.6,125955.4,129458.9,130886.5,142549.2,145902.2,149825.2,151363.5,148477.0
8,NaN,NaN,Transport Equipment,7987.4,9015.5,9245.2,10701.0,12563.2,14574.8,14886.3,...,13684.1,14046.4,16917.5,16469.7,17240.8,16174.4,18534.9,18668.9,20979.6,21416.9
9,NaN,NaN,Miscellaneous Manufactured Articles,59184.8,63021.1,66962.5,76562.5,76141.1,77983.6,77488.4,...,85402.6,93349.1,103247.9,100798.0,97659.5,97504.9,104859.8,106095.1,108277.7,110978.9
10,NaN,NaN,"Mineral Fuels, Lubricants And Related Materials",14701.2,10908.2,17651.6,33812.2,29128.8,30758.3,31527.9,...,44331.9,50842.9,61068.7,64975.4,58844.8,48266.1,35531.0,26422.2,30930.1,34292.6
11,NaN,NaN,"Vessels, aircraft etc.",6226.0,5515.2,7280.5,4407.9,2930.4,4744.8,2230.6,...,5675.1,5014.6,10746.6,2536.6,4292.1,4769.3,4446.0,3425.5,4818.8,8346.3
12,NaN,Seasonally adjusted,TOTAL,324292.9,326825.8,350975.0,408336.7,424708.7,442438.6,429360.5,...,492639.8,539621.5,606156.6,614330.4,618852.9,621427.8,637283.6,636030.5,669180.5,681132.5
13,NaN,NaN,"Live animals, Food, Beverages And Tobacco",75647.5,71678.5,72492.6,78698.6,87343.3,85797.0,82568.2,...,93240.7,99305.0,106777.4,111304.7,114640.4,114212.4,116021.5,118809.6,126661.8,122537.8
14,NaN,NaN,"Crude Materials, Inedible, Except Fuels",13701.3,13103.9,12946.8,15367.1,15047.6,15878.7,15923.7,...,17865.0,24056.3,27777.3,28681.2,29954.1,27013.8,28510.4,23601.6,26703.5,26353.6
15,NaN,NaN,Chemicals And Related Products,35411.7,36729.5,42300.8,49113.6,54288.8,58136.8,60157.6,...,74843.6,86458.9,95473.3,104845.9,110548.1,115058.8,128222.8,132707.8,137860.7,146700.6
16,NaN,NaN,Manufactured Goods Classified Chiefly By Material,36260.6,37385.5,39061.1,43515.5,44011.9,44330.3,43408.4,...,50555.4,49657.7,57467.9,55189.4,55010.6,55642.4,54809.3,57309.3,60963.3,61999.5
17,NaN,NaN,Machinery (excl. Transport Equipment),75134.3,79332.9,83131.2,96057.0,103116.8,110288.2,101189.1,...,106872.0,116972.3,126301.8,129619.7,130728.0,142793.8,146288.1,149366.7,151742.2,148440.4
18,NaN,NaN,Transport Equipment,7988.1,9042.6,9221.5,10679.5,12571.6,14548.3,14862.6,...,13718.6,14024.0,16954.6,16461.4,17201.4,16174.9,18558.9,18625.1,21005.5,21407.7
19,NaN,NaN,Miscellaneous Manufactured Articles,59222.0,63129.8,66889.1,76685.5,76269.2,77956.0,77492.2,...,85537.7,93289.8,103588.5,100716.0,97633.9,97496.3,104895.7,105762.7,108494.1,111053.7
20,NaN,NaN,"Mineral Fuels, Lubricants And Related Materials",14701.2,10908.2,17651.6,33812.2,29128.8,30758.3,31527.9,...,44331.9,50842.9,61068.7,64975.4,58844.8,48266.1,35531.0,26422.2,30930.1,34292.6
21,NaN,NaN,"Vessels, aircraft etc.",6226.0,5515.2,7280.5,4407.9,2930.4,4744.8,2230.6,...,5675.1,5014.6,10746.6,2536.6,4292.1,4769.3,4446.0,3425.5,4818.8,8346.3

## Cleaning the data

### Removing the two first rows as well as all rows from 10 and onwards.

In [12]:
exp = pd.read_excel(filepath, skiprows = 2) 
Dropped = ['Unnamed: 0', 'Unnamed: 1']
exp.drop(Dropped, axis = 1, inplace = True) 
exp.drop(exp.index[10:], inplace=True)
exp.head(5)

,Unnamed: 2,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,TOTAL,324271.3,326503.7,351916.4,408238.8,424669.5,442753.6,429272.0,452399.7,493678.6,...,491613.1,540894.8,604418.2,614546.9,620270.4,620622.8,636133.8,637315.4,668265.9,680755.7
1,"Live animals, Food, Beverages And Tobacco",75623.1,71598.3,72690.7,78689.5,87516.2,85802.4,82457.2,83776.6,87654.0,...,93219.1,99679.0,106588.5,111441.4,114740.5,114051.8,115956.7,119198.3,126337.8,122550.5
2,"Crude Materials, Inedible, Except Fuels",13712.9,13027.8,13038.5,15382.5,14999.2,15870.6,15995.6,16986.0,17188.1,...,17682.9,24049.8,27586.6,28800.1,30515.4,26709.1,28489.4,23659.2,26779.0,25983.8
3,Chemicals And Related Products,35380.5,36662.9,42452.6,49045.9,54302.7,58243.5,60182.6,61406.0,68837.6,...,74634.6,86624.8,94920.3,104856.9,110851.2,114970.2,127731.7,132831.6,137568.2,146557.3
4,Manufactured Goods Classified Chiefly By Material,36244.5,37376.8,39091.2,43400.0,44054.7,44395.1,43380.3,45180.4,47778.4,...,50293.4,49873.2,57386.8,55209.6,55239.5,55627.4,54682.4,57189.6,61211.2,62151.7

### Rename first column, "Unnamed: 2" as "Category"

In [13]:
exp.rename(columns = {'Unnamed: 2':'year'}, inplace=True)

### Transposing the data in order to have each rows representing a year.

In [14]:
exp_t=exp.T
exp_t
exp = exp_t
exp.head(5)

,0,1,2,3,4,5,6,7,8,9
year,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
1997,324271,75623.1,13712.9,35380.5,36244.5,75210.8,7987.4,59184.8,14701.2,6226
1998,326504,71598.3,13027.8,36662.9,37376.8,79377.5,9015.5,63021.1,10908.2,5515.2
1999,351916,72690.7,13038.5,42452.6,39091.2,83503.6,9245.2,66962.5,17651.6,7280.5
2000,408239,78689.5,15382.5,49045.9,43400,96237.6,10701,76562.5,33812.2,4407.9

### Removing the top horizontal index.

Running this section of the code twice will results in replacing the category names with the dataset of 1997. If already done go back to importing the dataset once again.

In [15]:
exp.columns = exp.iloc[0]
exp.drop(exp.index[0], inplace=True)
exp.head(5)

year,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
1997,324271,75623.1,13712.9,35380.5,36244.5,75210.8,7987.4,59184.8,14701.2,6226
1998,326504,71598.3,13027.8,36662.9,37376.8,79377.5,9015.5,63021.1,10908.2,5515.2
1999,351916,72690.7,13038.5,42452.6,39091.2,83503.6,9245.2,66962.5,17651.6,7280.5
2000,408239,78689.5,15382.5,49045.9,43400,96237.6,10701,76562.5,33812.2,4407.9
2001,424670,87516.2,14999.2,54302.7,44054.7,103033,12563.2,76141.1,29128.8,2930.4

### Calculating yearly growth rate in %

# Descriptive statistics

## Outputting basic desriptive statistics of the dataset

In [10]:
exp.describe() #Virker sjovt nok ikke da den tager index.

year,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
count,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0
unique,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0
top,540894.8,99679.0,21872.4,61406.0,55627.4,148477.0,14046.4,77983.6,10908.2,2536.6
freq,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

## Creating a boxplot of the XXX

# Presentation of data

## Calculate each category's contribution to the total export

## Show results as line chart